# Setup

In [ ]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.9.0-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.9/78.9 kB 704.9 kB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.7.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from jupysql) (7.34.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.19)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Collecting sqlglot (from jupysql)
  Downloading sqlglot-17.11.0-py3-none-any.whl (288 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 288.5/288.5 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.2)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.13-py3-none-any.whl (21 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (8.1.6)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.0.1-py2.py3-none-any.whl (37 kB)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (67.7.2)
Collecting jedi>=0.16 (from ipython->jupysql)
  Downloading jedi-0.19.0-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 37.5 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupysql) (0.2.6)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Installing collected packages: sqlglot, monotonic, jedi, backoff, posthog, ploomber-core, jupysql
Successfully installed backoff-2.2.1 jedi-0.19.0 jupysql-0.9.0 monotonic-1.6 ploomber-core-0.2.13 posthog-3.0.1 sqlglot-17.11.0

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///

# Exercícios

1. Crie uma tabela chamada "clientes" com as colunas "id" (integer), "nome" (text) e "email" (text).

In [ ]:
# Atividade 1: Os ID das tabelas devem ter auto incremento, assim, você deixa a cargo do banco de dados adicionar um ID
# exclusivo para cada registro da tabela.
%%sql

CREATE TABLE clientes (
	id INTEGER PRIMARY KEY,
	nome TEXT,
	email TEXT
);

Running query in 'sqlite:///'

++
||
++
++

2. Crie uma tabela chamada "produtos" com as colunas "id" (integer), "nome" (text), "preco" (numeric) e "quantidade" (integer).

In [ ]:
%%sql

CREATE TABLE produtos (
	id INTEGER PRIMARY KEY,
	nome TEXT,
	preco NUMERIC,
  quantidade INTEGER
);

Running query in 'sqlite:///'

++
||
++
++

3. Crie uma tabela chamada "pedidos" com as colunas "id" (integer), "cliente_id" (integer) e "total" (numeric).

In [ ]:
# Atividade 3: cliente_id é chave estrangeira na tabela pedidos e você precisa referenciar ela na criação da tabela pedidos.
# Solução: FOREIGN KEY (cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
%%sql

CREATE TABLE pedidos (
	id INTEGER PRIMARY KEY,
	cliente_id INTEGER,
	total NUMERIC
);

Running query in 'sqlite:///'

++
||
++
++

4. Adicione uma coluna chamada "endereco" (text) na tabela "clientes"

In [ ]:
# adicionando coluna
%%sql


alter table clientes
add column endereco TEXT;

Running query in 'sqlite:///'

++
||
++
++

5. Crie uma tabela chamada "fornecedores" com as colunas "id" (integer), "nome" (text) e "telefone" (text).

In [ ]:
%%sql

CREATE TABLE fornecedores (
	id INTEGER PRIMARY KEY,
	nome TEXT,
	telefone TEXT
);

Running query in 'sqlite:///'

++
||
++
++

6. Exclua a tabela "produtos".

In [ ]:
# deletar tabela e com ela todos os dados inseridos nela
%%sql

drop table produtos

Running query in 'sqlite:///'

++
||
++
++

7. Insira um novo cliente com nome "João" e email "joao@example.com".

In [ ]:
# inserindo novo cliente
%%sql

insert into clientes (nome, email) values ('João', 'joao@example.com');

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++


8. Insira um novo fornecedor com nome "ABC Distribuidora" e telefone "123-456789".

In [ ]:
# inserindo novo fornecedor
%%sql

insert into fornecedores (nome, telefone) values ('ABC Distribuidora', 123-456789);

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

9. Exclua todos os clientes que possuem email "joao@example.com".

In [ ]:
# excluindo uma única linha da tabela: delete from e WHERE
%%sql

delete from clientes
where email = 'joao@example.com'

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

In [ ]:
# verificando a execução
%%sql

select * from clientes

Running query in 'sqlite:///'

+----+------+-------+----------+
| id | nome | email | endereco |
+----+------+-------+----------+
+----+------+-------+----------+

10. Insira um novo pedido com cliente_id 1 e total 100.00.

In [ ]:
# inserindo novo pedido
%%sql

insert into pedidos (cliente_id , total) values (1, 100.00);

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

11.  Exclua todos os fornecedores.

In [ ]:
# excluindo todos os fornecedores
%%sql

delete from fornecedores

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

In [ ]:
# verificando a execução
%%sql

select * from fornecedores

Running query in 'sqlite:///'

+----+------+----------+
| id | nome | telefone |
+----+------+----------+
+----+------+----------+